@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --softorange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);
  --offwhite: hsl(36, 100%, 99%);
  --grayishblue: hsl(233, 8%, 79%);
  --darkgrayishblue: hsl(236, 13%, 42%);
  --verydarkblue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 92.5%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, p {
  font-family: 'Inter', sans-serif;
}
h1 {font-weight: 800; font-size: 36px; }
h2 {font-weight: 700; font-size: 18px;}
h3 {font-weight: 700; font-size: 18px;}
p {line-height: 1.5rem; font-weight: 400; font-size: 15px; color: var(--darkgrayishblue);}
img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

div.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  transition: all 0.3s ease-in;
}
div.sidebar-overlay.visible {
  background-color: rgba(0,0,0,.5);
}
div.sidebar {
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;

  transform: translateX(100%);
  transition: transform .3s ease-in-out;
}
div.sidebar.visible {
  transform: translateX(0);
}
div.sidebar-content {
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 6em;
  clear: right;
}
a {
  color: var(--darkgrayishblue);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition-duration: 0.4s;
}
a:hover {
  color: var(--softorange)
}

img.header-img {
  max-height: 2rem;
  width: auto;
  cursor: pointer;
}
img.close {
  float: right;
  cursor: pointer;
}

div.main-article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
div.main-article-text-button {
  display:flex;
  flex-direction: column;
  gap: 1.5rem;
}
button {
  background-color: var(--softred);
  color: var(--offwhite);
  border: none;
  font-family: 'Inter', sans-serif;

  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.25rem;

  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: var(--verydarkblue);
}
button.main-article-button {
  width: 10rem;
  height: 2.75rem;
}

div.new-article-list {
  background-color: var(--verydarkblue);
  margin-top: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  display:flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5rem;
}
div.new-article {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
h2.new-header {
  font-size: 32px;
  color: var(--softorange);
}
h3.new-title {
  color: var(--offwhite);
  transition-duration: 0.4s;
  cursor: pointer;
}
h3.new-title:hover {
  color: var(--softorange);
}
p.new-body {
  color: var(--grayishblue);
}

div.trending-articles {
  display:flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
}
div.highlight-article {
  display: grid;
  place-items: center;
  grid-template-columns: 0.8fr 2fr;
}
div.highlight-description {
  padding-left: 1rem;
  padding-right: 0.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}
h2.highlight-header {
  color: var(--grayishblue);
  font-size: 28px;
}
h3.highlight-title {
  transition-duration: 0.4s;
  cursor: pointer;
}
h3.highlight-title:hover {
  color: var(--softred)
}

footer {
  padding-top: 4rem;
  bottom: 0;
  left: 0;
  width: 100%;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}

/*Desktop Layout*/
@media screen and (min-width: 900px) {
  body {
    width: 72.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
  }
  /*Disable sidebar menu*/
  img.open, img.close {
    display: none;
  }
  div.sidebar-overlay {
    position: inherit;
    display: inherit;
    visibility: visible;
    width: auto;
    height: auto;
    background-color: transparent;
  }
  div.sidebar {
    position: inherit;
    display: inherit;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
    transform: translateX(0);
  }
  div.sidebar-content {
    padding: 0;
    display: flex;
  }
  nav.sidebar-links{
    flex-direction: row;
    padding: 0;
    margin: auto;
    gap: 3rem;
  }

  /*Swap to desktop layout*/
  main {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
  }
  div.new-article-list {
    margin: 0;
  }
  div.main-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  img.main-article-image {
    content: url(./assets/images/image-web-3-desktop.jpg);
    grid-column-start: 1;
    grid-column-end: 3;
  }
  div.trending-articles {
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  div.main-article-text-button {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
  }
  h1 {
    font-size: 52px;
    line-height: 3.5rem;
  }
  div.new-article-list {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}