@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --softorange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);
  --offwhite: hsl(36, 100%, 99%);
  --grayishblue: hsl(233, 8%, 79%);
  --darkgrayishblue: hsl(236, 13%, 42%);
  --verydarkblue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 92.5%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, p {
  font-family: 'Inter', sans-serif;
}

h1 {font-weight: 800; font-size: 36px; }
h2 {font-weight: 700; font-size: 16px;}
h3 {font-weight: 700; font-size: 16px;}
p {line-height: 1.5rem; font-weight: 400; font-size: 12px; color: var(--darkgrayishblue);}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

div.sidebar-overlay {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

div.sidebar {
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
}

div.sidebar-content {
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 6em;
  clear: right;
}

a {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

img.header-img {
  max-height: 2rem;
  width: auto;
}

img.close {
  float: right;
}

div.main-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  background-color: var(--softred);
  color: var(--offwhite);
  border: none;
  font-family: 'Inter', sans-serif;

  font-weight: 400;
  letter-spacing: 0.2rem;
}

button.main-article-button {
  width: 10rem;
  height: 2.5rem;
}

div.new-article-list {
  background-color: var(--verydarkblue);
  margin-top: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  display:flex;
  flex-direction: column;
  gap: 2rem;
}

div.new-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2.new-header {
  font-size: 32px;
  color: var(--softorange);
}

h3.new-title {
  color: var(--offwhite)
}

p.new-body {
  color: var(--grayishblue);
}

div.trending-articles {
  display:flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
}

div.highlight-article {
  display: grid;
  place-items: center;
  grid-template-columns: 0.8fr 2fr;
}

div.highlight-body {
  padding-left: 1rem;
  padding-right: 0.5rem;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

h2.highlight-header {
  color: var(--grayishblue);
  font-size: 28px;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
}