@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --softorange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);
  --offwhite: hsl(36, 100%, 99%);
  --grayishblue: hsl(233, 8%, 79%);
  --darkgrayishblue: hsl(236, 13%, 42%);
  --verydarkblue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 92.5%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

div.sidebar-overlay {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

div.sidebar {
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
}

div.sidebar-content {
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 6em;
  clear: right;
}

a {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

img.header-img {
  max-height: 2rem;
  width: auto;
}

img.close {
  float: right;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
}